* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d1117;
  
}
 
 /* sidebar */

aside{
    width: 250px;
    min-width: 230;
    max-width: 270px;
    height: 100vh;
    background-color: #161b22;
    border-right: 1px solid #2a2a2a;
    
}

.logo {
    height: 70px;

    display: flex;
    align-items: center;

    font-size: 28px;
    font-weight: 700;

    color: white;

    border-bottom: 1px solid #2a2a2a;
    margin-bottom: 20px;

}
.menu {
    list-style: none;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #d1d5db;
    cursor: pointer;
    transition:.3s;

}
.menu li:hover{
    background: #092457;
}

.active{
    background:#5b4df5;
    color:white;

}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .profile{
    margin-top:auto;
    color:white;
    padding:20px;
    border-top:1px solid #2a2a2a;
}

/* Navbar */

nav{
    height: 70px;
    background: #161b22;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
    border-bottom: 1px solid  #2a2a2a;
}

/* left */
.menu-btn{
    background: none;
    border: none;

    color: white;

    font-size: 24px;

    cursor: pointer;

}

/* search box */
.search-box{
    width: 400px;
    height: 45px;
    background: #0d1117;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.3s;
}
.search-box i{
    color: #8b949e;
}
.search-box:hover , .search-box:focus-within{
        border-color: #5b4df5;
}

.search-box input
{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

/* nav-right */

.Nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background: #0d1117;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    
}
.icon-btn:hover{
    background: #092457;
    transform: scale(1.1);
}

/* user */
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #5b4df5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.avatar:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5b4df5;
}

.user-info h4 {
    color: white;
    font-size: 15px;
}
.user-info p{
    color: #8b949e;
    font-size: 13px;
}
section{
    flex: 1;
    background-color: #0d1117;
}